<!doctype html>
<html ng-app="myApp">

<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script>
    var points = 0;
    var x, y = 0;
    var master_seconds = 4;
    var seconds = master_seconds;
    var t

    function found() {
      document.getElementById("pixel-container").style.cursor = "pointer";
    };

    function addpoints() {
      points += 20;
      document.getElementById("points").innerHTML = "Points: " + points;
      seconds = master_seconds;
      document.getElementById("time").innerHTML = seconds.toFixed(1) + " s";
      move();
      resetTimer();
    };

    function move() {
      document.getElementById("pixel-container").style.left = Math.floor(Math.random() * (document.getElementById('gameboard').offsetWidth - 5)) + "px";
      document.getElementById("pixel-container").style.top = Math.floor(Math.random() * (document.getElementById('gameboard').offsetHeight - 5)) + "px";
    };

    function start() {
      document.getElementById("start").style.visibility = "hidden";
      document.getElementById("the-pixel").style.visibility = "visible";
      document.getElementById("pixel-container").style.visibility = "visible";
      move();
      countdown();
    }

    function restart() {
      points = 0;
      document.getElementById("points").innerHTML = "Points: " + points;
      document.getElementById("restart").style.visibility = "hidden";
      document.getElementById("the-pixel").style.visibility = "visible";
      document.getElementById("pixel-container").style.visibility = "visible";
      resetTimer();
    }

    function displaytime() {
      document.getElementById("time").innerHTML = seconds.toFixed(1) + " s";
    };

    function countdown() {
      displaytime();
      if (seconds <= 0.0) {
        document.getElementById("time").innerHTML = "Time's up!";
        document.getElementById("points").innerHTML = "Points: " + points;
        document.getElementById("pixel-container").style.visibility = "hidden";
        document.getElementById("the-pixel").style.visibility = "hidden";
        document.getElementById("restart").style.visibility = "visible";

        document.getElementById("color").value = points;
      } else {
        seconds = seconds - 0.1;
        t = setTimeout("countdown()", 100);
      }
    };

    function cdpause() {
      clearTimeout(t);
    };

    function resetTimer() {
      cdpause();
      seconds = master_seconds;
      displaytime();
      countdown();
    }
  </script>

</head>

<body>
  <div ng-controller="myController">
    <h2 id="welcomeText">Welcome. You are Logged In as
  <%= username %>
  </h2>
    <a id="logoutLink" href="/logout">logout</a>
    <a id="editLink" href="/user">Edit User</a>
    <p>Place Your Code Here
      <p>
  </div>
  <hr>
  <span id="indexMsg">
  <%= msg %>
  </span>
  <hr>
  <span id="colorText">
  High Score:
  <%= color %>
  </span>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/javascripts/my_app.js"></script>
  <h1 align="center">
    Find the Pixel!
  </h1>
  <p id="instructions" align="center">
    A secret pixel is in the box. <strong>Click it</strong> to get points!
  </p>
  <h3 id="points">
    Points: 0
  </h3>
  <p id="time"></p>
  <button id="start" onclick="start();">Start</button>
  <button id="restart" onclick="restart()">Restart</button>
  <br><br>
  <div id="gameboard">
    <div id="pixel-container" onmouseover="found()" onclick="addpoints()">
      <div id="the-pixel"></div>
    </div>
  </div>

  <br><br><br>

  <form method="POST" action="/user/highscore">
      <label>New High Score: </label>
      <input type="text" id="color" name="color" ng-model="user.color" value="" readonly><br>
      <input type="submit" id="save" value="Update High Score">
  </form>

</body>

</html>
